<!-- <p>page works!</p> -->

<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">About Git_App</h1>
    <h2>Search GitHub</h2>
  </div>

  <hr class="my-4">

  <div class="row">
    <div class="about">
      <p>
        This is a search app that aims to implement API request service and search through
        github users' data.
        <br>
        To get information about a user from this app, input their github username and click search.
        You should be able to view all their public repositories.
        <br>
        Also click on their name to view full repo details on the github website.
        <br>
        Visit the homepage, fill the form(with correct username) to make a github search.
      </p>
    </div>
  </div>

  <footer class="text-center">
    <h2>Contacts</h2>
    <div class="foot">
      <a href="mailto:nelson.odhiambo@student.moringaschool.com">nelson.odhiambo@student.moringaschool.com</a>
      <br>
      <a href="tel:+254-794-023-020">+254-794-023-020</a>
      <br>
      <a href="https://github.com/Nelson014">Github</a>
    </div>
  </footer>
</div>
