nav {
  background-color: rgb(23, 7, 27);

}

.navbar-nav {
  display: flex;
  justify-content:space-around;
  padding: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.navbar-nav a {
  font-size: 130%;
  text-decoration: none;
  font-weight: bold;
}

.navbar-nav a:hover {
  color: rgb(25, 0, 255);
  font-size: 200%;
}
