
<div class="container">
    <h1>{{title}}</h1>
    <h2>Search GitHub</h2>
    <hr class="my-4">

  <div class="one">

    <div class="row">

       <p>these is the new revolution of github </p>
       <p> i hope you enjoy it!</p>
    </div>
  </div>


  <div class="form" id="form">

    <form autocomplete="off" class="form-inline"  #searchForm="ngForm" (ngSubmit)="onsubmission">
      <div class="form-group">
        <input ngModel type="search" class="form-control" id="in" placeholder="Enter your github username" #search="ngModel" name="name" required>
      </div>
      <button type="submit" class="btn btn-primary" (click)="(search.value)">
        Search
      </button>
      <p id="show">{{p}} </p>
    </form>
    <div *ngIf="results">
      <ul *ngFor="let result of results">
        <li>{{result.name}}</li>
      </ul>
    </div>
  </div>



</div>
